package settings

import "github.com/Volgar04/dreampicai/view/layout"
import "github.com/Volgar04/dreampicai/types"

templ Index(user types.AuthenticatedUser) {
	@layout.App(true) {
		<div>
			Hello { user.Email }
		</div>
	}
}
